@media screen and (min-width: 480px) {
  /*********************************
  TWO COLUMN LAYOUT
  *********************************/

  #primary {
    width: 50%;
    float: left;
  }

  #secondary {
    width: 40%;
    float: right;
  }

  /*********************************
  3 * 5 = 15
  100% - 15% = 85 %
  85 / 3 = 28.33333
  *********************************/
  /*********************************
  PAGE: PORTFOLIO
  *********************************/
  #gallery li {
    width: 28.3333%;
  }

  #gallery li:nth-child(16n) {
    clear: left;
  }
}

/************************************************
PAGE: CONTACT
************************************************/
.contact-info li.instagram a {
  background-image: url('../img/instagram_circle-64.png');
  padding-bottom: 1px;
}

.contact-info li.phone a {
  background-image: url('../img/phone-64.png');
  padding-bottom: 1px;
}

.contact-info li.mail a {
  background-image: url('../img/mail-64.png');
  padding-bottom: 1px;
}


@media screen and (min-width: 660px) {

  /*********************************
  TWO COLUMN LAYOUT
  *********************************/
  nav {
    background: none;
    float: right;
    font-size: 1.125em;
    text-align: right;
    width: 45%;
    padding-right: 25px;
  }

  /* selected nav link */
  nav a.selected, nav a:hover {
    color: #00586d;
  }

  #logo {
    float: left;
    margin-left: 5%;
    text-align: left;
    width: 45%;
  }

  h1 {
    font-size:  2.5em;
  }

  h2 {
    font-size: 0.825em;
    margin-bottom: 20px;
  }

  header {
    border-bottom: 5px solid #00586d;
    margin-bottom: 60px;
  }

}
